<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cars</title>
    </head>
    <body>
        <h1>Cars</h1>
        <table>
            <tr>
                <td>Model</td>
                <td>Color</td>
                <td>Number</td>
            </tr>
            <tr>
            <tr th:each="car : ${count}">
                <td th:text="${car.getModel()}"></td>
                <td th:text="${car.getColor()}"></td>
                <td th:text="${car.getNumber()}"></td>
            </tr>
        </table>
    </body>
</html>